.page {
    &__temoignages {
        overflow: hidden;
        &__header {
            p {
                width: 55%;
                line-height: 24px;
            }
            a {
                width: auto;
                line-height: 20px;
            }
            &__logo {
                width: 155px;
                height: 74px;
                border-radius: 8px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 90px;
                }
                &--lime {
                    background-color: $lime;
                    left: 10%;
                    top: 18%
                }
                &--black {
                    background-color: $black;
                    top: 30%;
                    right: 6%;
                    img {
                    filter: invert(1);
                    }
                }
                &--grey {
                    background-color: $grey;
                    bottom: 8%;
                    left: 17%;
                }
                &--peach {
                    background-color: $peach;
                    bottom: 13%;
                    right: 15%;
                }
            }
        }
        &__discover {
            &__card {
                padding: 80px 64px;
                border-radius: 32px;
                background-color: $lavender;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                & h2 {
                    width: 65%;
                }
                &__links {
                    width: 85%;
                }
                & .color-btn-dark {
                    padding: 6px 20px !important;
                    line-height: 24px !important;
                    font-weight: 400 !important;
                }
                &__logo {
                    position: absolute;
                    z-index: 0;
                    right: 0;
                    bottom: -1.25rem;
                    max-height: 95%;
                    opacity: .50;
                }
            }
        }
        &__list {
            &__filters {
                &__clear {
                    font-size: 12px;
                    font-weight: 400;
                    color: #666666;
                    font-family:"Albert Sans";
                    border: unset;
                    background-color: transparent;
                    padding: 0 20px;
                }
            }
            &__header__logo {
                position: absolute;
                z-index: 0;
                left: -2.5rem;
                width: 366px;
                bottom: -2.5rem;
                opacity: .25;
            }
        }
        &__slider {
            &__btn {
                &--phone {
                    display: none;
                }
            }
        }
    }
}

.owl {
    &-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        width: max-content;
        position: absolute;
        right: 0;
        margin-top: 2.5rem;
    }
    &-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        left: 0;
        margin-top: 2.5rem;
        height: 56px;
    }
    &-dot {
        background-color: $neutral!important;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        &.active {
            background-color: $black!important;
        }
    }
    &-prev, &-next {
        font-size: 18px;
        border: 1px solid $black!important;
        border-radius: 50%;
        padding: 16px!important;
        width: 56px;
        height: 56px;
        transition: all .3s ease;
    }
    &-prev:hover, &-next:hover {
        background-color: $black!important;
        color: white!important;
    }
    &-carousel &-stage-outer {
        cursor: grab;
        overflow: visible!important;
    }
}

.dot__text {
    &::after {
        content: '';
        position: absolute;
        background-color: $lavender;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        outline: 10px solid $grey;
    }
    &--left::after {
        left: 0;
        top: 0;
        transform: translate(-50%, 50%);
    }
    &--top::after {
        left: 0;
        top: -24px;
        transform: translate(0, -50%);
    }
}

.temoignage {
    &__quote {
        padding: 48px;
        border-radius: 0 64px 64px 64px;
        display: flex;
        flex-direction: column;
        gap: 1.75rem; 
        overflow: hidden;
        &--peach {
            background-color: $peach;
            .temoignage__quote__bottom {
                &::after {
                    background-color: $peach;
                }
            }
        }
        &--lavender {
            background-color: $lavender;
            .temoignage__quote__bottom {
                &::after {
                    background-color: $lavender;
                }
            }
        }
        &__icon {
            width: 48px;
        }
        &__content {
            p {
                font-size: 24px;
                font-weight: 400;
                line-height: 1.5;
            }
        }
        &__author {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 1.75rem;
            &__picture {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: $grey;
                object-position: left;
                object-fit: cover;
            }
            &__name, &__position {
                font-weight: 400;
                color: $text-secondary;      
            }
            &__name {
                font-size: 14px; 
                line-height: 1.5;
                display: block;
            }
            &__position {
                font-size: 12px;
            }
        }
        &__bottom {
            margin-top: 2rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 64px;
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 1800px;
                height: 1800px;
                border-radius: 50%;
                top: 12.5px;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                background: radial-gradient(circle at 50%, transparent 55%, #FFFFFFBF 90%);
                outline: 1px solid $white;
                outline-offset: -42.5px;
            }
            &::after {
                content: '';
                display: block;
                width: 1800px;
                height: 1800px;
                border-radius: 50%;
                top: 98.5px;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
            }
            &__item {
                position: relative;
                &--down {
                    margin-top: 25px;
                }
                &__label {
                    position: absolute;
                    font-size: 16px;
                    font-weight: 400;
                    color: $teal;
                    text-transform: uppercase;
                    top: -2rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &__icon {
                    width: 85px;
                    height: 85px;
                    background-color: $white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 32px;
                    }
                }
            }
        }
    }
    &__campaign {
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        &__header {
            cursor: pointer;
            transition: all .3s ease;
            img {
                transition: all .3s ease;
            }
            &[aria-expanded="true"] {
                .btn-arrow {
                    img {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
        &__cibler {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 24px;
            border-left: 1px solid $lavender;
            border-bottom: 1px solid $lavender;
            border-radius: 0 0 0 32px;
            padding-left: 24px;
            padding-bottom: 48px;
        }
        &__bottom {
            padding: 24px;
            padding-bottom: 0;
            gap: 24px;
            &__item {
                position: relative;
                flex-grow: 1;
                width: 100%;
                &__row {
                    padding: 10px 0;
                    color: $text-secondary;
                    border-bottom: 1px solid $teal-o;
                    line-height: 1.5;
                    &::before {
                        display: none;
                    }
                    strong {
                        color: $black;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.btn-arrow {
    background-color: transparent;
    padding: 0!important;
    min-width: 43px;
    min-height: 43px;
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
    border: 1px solid $teal;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    img {
        transition: all .3s ease;
    }
    &:hover {
        background-color: $teal;
        img {
            filter: grayscale(1) invert(1);
        }
    }
}

.single {
    &__etude {
        .label {
            font-size: 14px;
            font-weight: 300;
            margin-bottom: .25rem!important;
        }
        &__tags {
            gap: 32px;
        }
        &__sticky {
            position: relative;
            top: 0px;
            align-self: flex-start;
            z-index: 1000;
            padding: 64px 32px;
            border-radius: 16px;
            hr {
                margin: 0;
            }
            &__specs {
                display: grid;
                grid-template-columns: 1fr max-content;
                gap: 16px;
            }
            &__sections {
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 0;
                
            }
            &__item { 
                color: $teal;
                opacity: .5;
                font-size: 18px;
                transition: .3 ease;
                &::before {
                    display: none;
                }
                &--active {
                    opacity: 1;
                }
                list-style: none;
            }
        }
    }
}

@media(max-width: 1199px) {
    .page {
        &__temoignages {
            &__header {
                p {
                    width: 75%;
                }
                &__logo {
                    width: 135px;
                    height: 65px;
                    &--lime {
                        left: 4%;
                    }
                    &--black {
                        right: 4.5%;
                    }
                    &--grey {
                        left: 15%;
                    }
                    &--peach {
                        right: 12%;
                    }
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .page {
        &__temoignages {
            &__header {
                p {
                    width: 90%;
                }
                &__logo {
                    width: 100px;
                    height: 55px;
                    & img {
                        width: 65px;
                    }
                    &--lime {
                        left: 5%;
                    }
                    &--black {
                        right: 5%;
                    }
                    &--lime, &--black {
                        top: 12.5%;
                    }
                    &--grey {
                        left: 5%;
                    }
                    &--peach {
                        right: 5%;
                    }
                    &--grey, &--peach {
                        bottom: 4%;
                    }
                }
            }
            &__slider {
                &__title {
                    font-size: 32px!important;
                }
                &__btn {
                    &--phone {
                        display: block;
                        max-width: max-content;
                        margin: auto;
                    }
                    &--laptop {
                        display: none;
                    }
                }
            }
            &__discover {
                &__card {
                    padding: 32px;
                    h2 {
                        width: 90%;
                        font-size: 32px!important;
                    }
                    &__texts {
                        width: 100%!important;
                    }
                    &__logo {
                        bottom: unset;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 120%;
                        left: -10%;
                    }
                    &__links {
                        width: 100%;
                    }
                }
            }
        }
    }

    .owl {
        &-nav {
            display: none;
        }
        &-dots {
            margin-top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .case__study {
        .card {
            padding: 1.5rem;
        }
        .card--title {
            width: 100%;
            text-align: left;
        }
    }

    .email-form_wrapper {
        flex-direction: column;
    }

    .page__etude {
        &--chiffres {
            padding: 80px 24px;
            &__left {
                width: 100%;
                & p, & h2 {
                    text-align: center;
                }
                & p {
                    font-size: 12px!important;
                    width: 100%!important;
                }
            }
            &__right {
                width: 100%;
                padding-top: 3rem;
                padding-bottom: 0;
                padding-left: 0;
                gap: 40px;
                .vr {
                    width: 70px;
                    height: 1px;
                    min-height: 1px;
                    top: unset;
                    bottom: unset;
                    transform: translatex(-50%);
                    left: 50%;
                }
            }
            &--chiffre {
                text-align: center;
                font-size: 64px;
            }
        }
    }

    .single {
        &__etude {
            h1 {
                font-size: 32px!important;
                max-width: 100%;
            }
            &__tags {
                gap: 16px;
            }
            &--header h1 p {
                font-size: 42px!important;
            }
            &__section {
                h3 {
                    font-size: 32px!important;
                }
            }
        }
        &__sticky {
            padding: 24px;
            position: fixed;
        }
    }

    .video-container {
        height: auto;
    }

    .lame_listes_texte__content {
        align-items: center;
        a {
            width: 100%;
        }
        .bg-light-purple &--texts {
            p {
                text-align: center;
            }
        }
    }

    .lame_listes_texte__content.bg-light-purple {
        p {
            text-align: center;
        }
    }

    .temoignage {
        &__quote {
            &__content {
                p {
                    font-size: 18px!important;
                }
            }
            &__bottom {
                &::before {
                    top: 3.5px;
                    outline-offset: -30px;
                }
                &::after {
                    top: 66.5px;
                }
                &__item {
                    &--down {
                        margin-top: 11px;
                    }
                    &__icon {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
        &__campaign {
            &__header {
                h3 {
                    font-size: 20px!important;
                }
            }
        }
    }
}